<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="container w-50 mt-5 py-3 px-5">
            <div class="row justify-content-between border-bot">
                <div class="mt-3 h5">Địa Chỉ Của Tôi</div>
                <button type="button"id ="add_data" class="btn btn-danger ">
                    <span class="glyphicon">&#x2b;</span>
                    <span>Thêm địa chỉ mới</span>
                </button>
            </div>

            <div class="in4">
                <ul class="list">

                </ul>

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="information" tabindex="-1"
            role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Địa chỉ mới</h5>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="form-inf">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id = "name" placeholder="Họ và tên">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" id = "phone"
                                    placeholder="Số điện thoại">
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleFormControlSelect1">Tỉnh/Thành phố</label>
                                <select class="form-control" name="province" id="exampleFormControlSelect1"
                                    onchange="changed_Province(this)">
                                </select>
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleFormControlSelect2">Quận/Huyện</label>
                                <select class="form-control" name="district" id="exampleFormControlSelect2" disabled
                                    onchange="changed_District(this)">
                                </select>
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleFormControlSelect3">Phường/Xã</label>
                                <select class="form-control" name="ward" id="exampleFormControlSelect3" disabled
                                    onchange="changed_Ward(this)">
                                </select>
                            </div>
                            <div class="form-group d-flex ">
                                <input id="addr" type="text" name="address" readonly>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="fulladdress" id="full-addr" rows="3"
                                    placeholder="Địa chỉ cụ thể"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="default" id="default" value="0" />
                        <input type="hidden" name="id" id="id" />
                        <input type="hidden" name="action" id="action" value="Add" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Trở
                            lại</button>
                        <button type="submit" class="btn btn-primary" id="action_button">Thêm</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/main.js"></script>
</body>

</html>